<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-light">
    <!-- Nav -->
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark shadow small mb-3">
        <div class="container-fluid">
            <a href="dash.html" class="navbar-brand">
                <span class="brand-gradient">EMS2.0</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-supported-content" aria-controls="navbar-supported-content"
                aria-expanded="false" aria-label="Toggle Navigation">
                <i class="bi bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-supported-content">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="dash.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="employees_list.html">Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="job_list.html">Jobs</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <div class="hstack gap-3 me-3">
                        <input class="form-control form-control-sm me-auto" type="search" placeholder="Search for.."
                            aria-label="Search for..">
                        <button type="submit" class="btn btn-sm btn-success">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <div class="vr"></div>
                    <a href="../index.html" class="btn btn-sm btn-warning ms-3">
                        <i class="bi bi-power"></i>
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <!-- Nav-->

    <!-- Employees data-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="list-group shadow-sm small mb-3">
                    <div class="list-group-item active">Jobs Data</div>
                    <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal"
                        data-bs-target="#add_job">
                        Add Job
                    </a>
                    <a href="job_list.html" class="list-group-item list-group-item-action">View Jobs</a>
                </div>
                <div class="list-group shadow-sm small mb-3">
                    <div class="list-group-item active">Related Links</div>
                    <a href="employees_list.html" class="list-group-item list-group-item-action">Employees list</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card shadow-sm border-0 mb-3">
                    <div class="card-header text-bg-dark text-center">Jobs list</div>
                    <table class="table table-sm small table-bordered align-middle mb-0">
                        <tr class="table-secondary">
                            <th>ID</th>
                            <th>Job Name</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Graphic Designer</td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#job_detail">
                                        Details
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#job_edit">
                                        Edit
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#job_delete">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Frontend Engineer</td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#job_detail">
                                        Details
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#job_edit">
                                        Edit
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#job_delete">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Frontend Engineer</td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#job_detail">
                                        Details
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#job_edit">
                                        Edit
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#job_delete">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Frontend Engineer</td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#job_detail">
                                        Details
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#job_edit">
                                        Edit
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#job_delete">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Employees data-->

    <!-- Add Job Model-->
    <div class="modal fade" id="add_job" data-bs-backdrop="static" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-bg-dark">
                    <h5 class="modal-title">Add Job Details</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container">
                            <div class="row gx-3">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="date" class="form-control form-control-sm" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="text" class="form-control form-control-sm" placeholder="Job Name"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-sm btn-success">
                                            Add Job
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal"
                                            aria-label="close">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Job Model-->

    <!-- Job Details Model-->
    <div class="modal fade" id="job_detail" data-bs-backdrop="static" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-bg-dark">
                    <h5 class="modal-title">Job Details</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close">
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table class="table table-bordered small mb-0">
                        <tr>
                            <th class="w-50">ID</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>3rd December 2023</td>
                        </tr>
                        <tr>
                            <th>Job Name</th>
                            <td>Frontend Engineer</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#job_edit">
                        Edit Details
                    </a>
                    <a href="#" class="btn btn-sm btn-primary" data-bs-dismiss="modal" aria-label="Close">
                        Close
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Details Model-->

    <!-- Edit Jobs Model-->
    <div class="modal fade" id="job_edit" data-bs-backdrop="static" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-bg-dark">
                    <h5 class="modal-title">Edit Job Details</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container">
                            <div class="row gx-3">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="date" class="form-control form-control-sm" value="2023-12-03"
                                            required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="text" class="form-control form-control-sm" placeholder="Job Name"
                                            value="Frontend Engineer" required>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-sm btn-warning">
                                            Update Job
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="d-grid">
                                        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                                            aria-label="close">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Employees Model-->

    <!-- Delete Jobs Model-->
    <div class="modal fade" id="job_delete" data-bs-backdrop="static" tabindex="1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center d-flex justify-content-between align-item-center">
                    <h4 class="fw-light m-0">
                        Do you really want to delete <strong><q>Frontend Engineer</q></strong>?
                    </h4>
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="close">
                    </button>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-sm btn-danger">
                        YES!
                    </button>
                    <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal" aria-label="Close">
                        Nope, Go back
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Jobs Model-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
